:root{
    /*--Color-Primario: #4170EB;
    --Color-Secundario: #F6F3C4;
    --Color-texto: #1a1a1a;
    --Color-Fondo: #f5f5f5;
    
    --Color-Hover-hipervinculos: #1e409a;
    */
    --Color-Primario: #0F172A;
    --Color-Secundario: #1E293B;
    --Color-Fondo: #F8FAFC;
    --Color-texto: #1E293B;
    --Color-boton: #3B82F6;
    --Color-Hover-hipervinculos: #2563EB;
    --Colo-boton-opaco:#3b83f62f;
    --Color-Texto-header: #F8FAFC; 
    --Color-Borde: #E2E8F0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--Color-Fondo);
}
li{
    list-style: none;
}
main{
    
    padding: 0 5rem;
}
/***          HERO DEL CURSO              ****/
.curso-hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    padding: 3rem 0;
}
.curso-hero-info {
    flex: 1 1 22rem;
}

.curso-hero-media {
    flex: 1 1 20rem;
    
}
.tipo-de-curso {
    display: inline-block;
    background-color: var(--Color-Primario);
    color: #fff;
    padding: 0.4em 1em;
    margin: 1.5rem 0;
    border-radius: 999px;
    font-size: 1.01rem;
    font-weight: 600;
    /* margin-bottom: 1rem; */
}
.curso-hero-info h1 {
    font-size: 2.75rem;   /*tamaño de la letra*/
    font-weight: 800;     /*tamaño de grosor*/
    line-height: 1.15;
    color: var(--Color-Primario);
    margin-bottom: 1rem;
}
.curso-descripcion-corta {
    font-size: 1.05rem; 
    margin-bottom: 1.5rem;
    max-width: 34rem;
    
    /* border-radius: 16px;
    border: 4px solid #e2e8f0;
    border-bottom: #0F172A 19px solid; */
}
.text-info-pequeño-corto{
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 600;
    padding: 1.5rem 0.8rem;
    color:#9c9c9c;

}
.curso-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    /* list-style: none; */
}

.curso-meta li {
    border: 1px solid #084da7;
    border-radius: 999px;
    padding: 0.5em 1.1em;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--Color-texto);
}
.curso-hero-media img {
    width: 100%;
    height: 22rem;
    object-fit: cover;
    border-radius: 16px;
    display: block;
}

/**                 LAYOUT DE DOS COLUMNAS                       ***/
.layout-courso{
    display: flex;
    gap: 2.5rem;
    align-items: flex-start;
}
.columna-contenido{
    flex: 2;
    display: flex;
    flex-direction: column;
    

}
/*****        COLUMNA DE COMPRA           ***/

.columna-compra{
    flex: 1;
    position: sticky;   /*BLOQUE ESTAICO*/
    top: 2rem;

    
    border-radius: 25px;
    border: #084da7 1px solid;
    padding: 1.5rem;
}
/* .columna-compra > ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
} */

 .columna-compra nav{
    margin-bottom: 1.5rem;
 }
 .columna-compra li:hover{
    background-color: var(--Colo-boton-opaco);
    transition: 0.2s ease-in-out;
    border-radius: 10px;
 }
 .columna-compra a{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.6rem 0.8rem;
    font-weight: 600;
}
/**        BLOQUE DONDE ESTA EL PRECIO Y DECUENTO         ***/
.descuento{
    display: inline-block;
    padding: 2px 12px;
    border-radius: 999px;
    border: 1px solid #084da7;
    background-color: #51ca51;
    font-size: 14px;
    font-weight: 600;
    color: var(--Color-texto);
}
.precio-anterior {
    display: inline-block;
    color: #777;
    font-size: 1rem;
}
.precio-actual {
    font-size: 2rem;
    font-weight: 800;
}
.precio{
    font-size: 2rem;
    font-weight: 800;
}

.tarjeta-compra{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color: var(--Color-Primario);
    color: var(--Color-Texto-header);
    border-radius: 16px;
    padding: 1.2rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}
.boton-carrito {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--Color-boton);
    color: #fff;
    border: none;
    border-radius: 999px;
    padding: 0.9em;
    font-weight: 600;
    cursor: pointer;
}
.boton-carrito:hover{
    background-color: var(--Color-Hover-hipervinculos);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}
/*****        CONTENIDO IZQUIERDO           ***/
/*          PARA QUIEN ESTA DIRIGIDO                  */

.para-quien{
    DISPLAY: flex;
    flex-direction: row;
    /* border: 1px solid #50a708; */
    gap: 20px;
    
}
.para-quien div,
.para-quien img{
    border: 1px solid #084da7;
    border-radius: 12px;
    padding: 0.5rem;
}

.para-quien img{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.6rem;
    border-radius: 10px;
    background-color: var(--Colo-boton-opaco);
    border: 1px solid var(--Color-Borde);
}
.curso-seccion > div,
.curso-seccion > ol{
    padding: 2rem;
    flex: 1 1 14rem;
    background-color: #fff;
    border: 1px solid var(--Color-Borde);
    border-radius: 12px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/**          QUE VAS A APRENDER           ***/
/* .grid-aprendizajes{
    display: grid;
    
    grid-template-columns: repeat(2, minmax(0, 1fr));
    
    gap: 20px;
    border: 1px solid #084da7;
} */
    .item-aprendizaje,
    .lista-temario,
    .lista-requisitos{
    background-color: #fff;
    border: 1px solid var(--Color-Borde);
    border-radius: 12px;
    padding: 1.5rem;
}
    .item-aprendizaje h3,
    .lista-temario  h3{
    font-size: 1.05rem;
    color: var(--Color-Primario);
    margin-bottom: 0.5rem;
}
    .item-aprendizaje p,
    .lista-temario  p{
    font-size: 0.9rem;
    color: #475569;
    line-height: 1.6;
}
/* .grid-aprendizajes > .item-aprendizaje{
    border: 1px solid #084da7;
    border-radius: 12px;
    padding: 2rem;
    
}
.modulos-del-curso{
    DISPLAY: flex;
    flex-direction: column;
    border: 1px solid #084da7;
    
} */
 /**            REQUISITOS            **/
.lista-requisitos li{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.6rem 0.8rem;
}
 /* .lista-temario{
    display: flex;
    flex-direction: column;
    gap: 20px;
    gap: 0.7rem;
}
.lista-temario > li{
    border: 1px solid #084da7;
    
    
    border-radius: 12px;
} */
/* .lista-requisitos li{
    position: relative;
    padding-left: 1.6rem;
    font-size: 0.95rem;
    color: #475569;
} */

 

/*
.contenedor-de-secciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  
    gap:2em;



}
figure{
    width: 50%;
    height: 100%;

}

figure>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}
.curso-seccion{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

.seccion-uno{
    display: flex;
    height: 20em;    
    justify-content: center;
    align-items: center;
    gap:2em;
    border :1px solid rgb(67, 69, 71);
}

.seccion-dos h2{
    
    text-align: center;
    height: 33%;

}


.seccion-tres{
    display: flex;
    gap:7em;
    width: 100%;
    justify-content: center;
    height: 33%;
}

.seccion-tres > .curso-seccion h2{
    
    text-align: start;
}
.acciones-compra{

    display: flex;
    justify-content: center;
    align-items: center;


}
*/