*{
    margin: 0;
}

#contenido-principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap :2rem;
    
}

.CURSOS{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap:2rem;
    margin: 0 auto;
    max-width: 75rem; 
    padding: 0 1.5rem;
    align-items: center;
    text-align: center;
    justify-content: center;

}


.contenedor-img-curso{
   width: 100% ;
}

.contenedor-img-curso>img{
    width: 100%;
    height: 12rem;
    object-fit: cover;
    display: block;
    
}

.header-principal{
    display: flex;
    justify-content: flex-start;
}

.navegacion-principal ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navegacion-principal a{
    text-decoration: none;
}

.SVG_LOGO{
    width: 100%;
 margin: 0;
 max-width: 25rem;
 height: 10rem;
}

.SVG_LOGO img{
    width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.introduccion{
    text-align: center;
  max-width: 50rem;
  margin: 0 auto 3rem auto;
  padding: 0 1rem;
}